* {
  font-family: 'Lato', sans-serif;
}

body {
  overflow: hidden;
  display: none;
}

#cursor {
  position: absolute;
  z-index: 999999;
  display: none;
}

.dialog {
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 2px;
  left: 50%;
  margin-top: 250px;
  padding: 15px;
  position: absolute;
  transform: translateX(-50%);
  width: 400px;
}

form {
  margin: 0;
}

input[type=text] {
  background-color: rgb(215, 215, 215);
  border: 0;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 5px;
  padding: 12px 10px;
  text-align: center;
  width: 100%;
}

button {
  background-color: rgb(185, 11, 11);
  border: 0;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 18px;
  margin-top: 5px;
  padding: 15px 10px;
  width: 100%;
}

h1 {
  border: 0;
  color: #494848;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 36px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 10px;
  text-align: center;
  width: 93%;
}
