body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  display: none;
}

#cursor {
  position: absolute;
  z-index: 999999;
  display: none;
}

.dialog {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  left: 50%;
  padding: 15px;
  position: absolute;
  transform: translateX(-50%);
  width: 400px;
}

form {
  margin: 0;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  text-align: center;
}

button {
  background-color: rgb(185, 11, 11);
  border: 0;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 16xp;
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
}

h1 {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
  padding: 10px;
  border: 0;
  color: #fff;
  width: 93%;
  text-align: center;
}
